.card {
  display: flex;
  justify-content: space-between;
}

.waterIcon {
  width: 38px;
  height: 38px;
}
@media only screen and (min-width: 768px) {
  .waterIcon {
    width: 44px;
    height: 44px;
  }
}

.data {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 50px;
}

.amount {
  font-family: Poppins-Bold;
  font-size: 12px;
  line-height: 12px;
  color: var(--main-color);
}
@media only screen and (min-width: 768px) {
  .amount {
    font-size: 15px;
    line-height: 1.6;
  }
}

.time {
  font-family: 'Poppins-Regular';
  font-size: 10px;
  line-height: 10px;
  font-weight: normal;
  color: var(--main-text-color);
}
@media only screen and (min-width: 768px) {
  .time {
    font-size: 12px;
    line-height: 1.6;
  }
}

.buttons {
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .buttons {
    gap: 14px;
  }
}

.icon,
.iconDisabled {
  width: 14px;
  height: 14px;
  stroke: var(--main-color);
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .icon {
    width: 16x;
    height: 16px;
  }
}

.icon:hover,
.icon:focus {
  stroke: var(--hover-focus-color);
  transform: scale(1.2);
  cursor: pointer;
}

.iconDisabled:hover,
.iconDisabled:focus {
  pointer-events: none;
}
