.card {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.waterIcon {
  width: 38px;
  height: 38px;
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .waterIcon {
    width: 44px;
    height: 44px;
  }
}

.amount {
  font-family: var(--font-bold);
  font-size: 15px;
  line-height: 1.6;
  color: var(--main-color);
}

.time {
  font-family: var(--font-regular);
  font-size: 12px;
  line-height: 1.6;
  font-weight: normal;
  color: var(--main-text-color);
}

.buttons {
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .buttons {
    gap: 14px;
  }
}

.icon,
.iconDisabled {
  width: 14px;
  height: 14px;
  stroke: var(--main-text-color);
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .icon {
    width: 16x;
    height: 16px;
  }
}

.icon:hover,
.icon:focus {
  stroke: var(--hover-focus-color);
  transform: scale(1.2);
  cursor: pointer;
}

.iconDisabled:hover,
.iconDisabled:focus {
  pointer-events: none;
}
