.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  max-width: 303px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .formGroup {
    max-width: 568px;
  }
}
@media only screen and (min-width: 1440px) {
  .formGroup {
    max-width: 840px;
  }
}
.accentLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--main-color);
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .accentLabel {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.thumb {
  overflow: hidden;
  margin-bottom: 10px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}

.avatarInput {
  display: none;
}

.uploadLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

.uploadText {
  display: flex;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
  width: 303px;
  height: 46px;
}

@media only screen and (min-width: 768px) {
  .input {
    width: 568px;
  }
}
@media only screen and (min-width: 1440px) {
  .input {
    width: 400px;
  }
}

.formWraper {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .formWraper {
    flex-direction: row;
  }
}

.formWrap_1 {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .formWrap_1 {
    margin-right: 40px;
  }
}

.formWrap_2 {
  display: flex;
  flex-direction: column;
}

.genderLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

.genderLabel:not(:last-child) {
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .genderLabel {
    font-size: 16px;
    line-height: 1.5;
  }
}

.info {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
@media only screen and (min-width: 768px) {
  .info {
    font-size: 16px;
    line-height: 1.5;
  }
}

.infoTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--main-color);
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .infoTitle {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.list {
  margin-bottom: 14px;
}

.listItem:not(:last-child) {
  margin-bottom: 12px;
}

.listItemText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.listItemNorma {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--accent-color);
}

.calculation {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  max-width: 303px;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .calculation {
    max-width: 568px;
  }
}
@media only screen and (min-width: 768px) {
  .calculation {
    max-width: 400px;
  }
}

.waterValue {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.49333;
  color: var(--accent-color);
}

.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

input[type='radio'] + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 4px;
  display: none;
}

@media only screen and (min-width: 768px) {
  input[type='radio'] + label:after {
    top: 7px;
  }
}

input[type='radio']:checked + label:after {
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #000;
  margin-right: 8px;
}

.calcIcon {
  font-size: 14px;
  color: var(--accent-color);
  margin-right: 5px;
}
.iconInfo {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  .iconInfo {
    width: 22px;
    height: 22px;
  }
}

.submitBtn {
  border: none;
  border-radius: 30px;
  padding: 16px 50px;
  width: 141px;
  height: 56px;
  background-color: var(--accent-color);
}
