.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  max-width: 303px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .formGroup {
    max-width: 568px;
  }
}
@media only screen and (min-width: 1440px) {
  .formGroup {
    max-width: 840px;
  }
}
.accentLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--main-color);
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .accentLabel {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.thumb {
  overflow: hidden;
  margin-bottom: 10px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}

.avatarInput {
  display: none;
}

.uploadLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

.uploadText {
  display: flex;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  cursor: pointer;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.uploadText:hover,
.uploadText:focus {
  color: var(--accent-color);
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
  width: 303px;
}

@media only screen and (min-width: 768px) {
  .input {
    width: 568px;
  }
}
@media only screen and (min-width: 1440px) {
  .input {
    width: 400px;
  }
}

.input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
}

.formWraper {
  display: flex;
  flex-direction: column;
}

.nameInput,
.emailInput,
.weightInput,
.activeTimeInput,
.goalInput {
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .formWraper {
    flex-direction: row;
  }
}

.formWrap_1 {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .formWrap_1 {
    margin-right: 40px;
  }
}

.formWrap_2 {
  display: flex;
  flex-direction: column;
}

.genderLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

.genderLabel:not(:last-child) {
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .genderLabel {
    font-size: 16px;
    line-height: 1.5;
  }
}

.info {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}
@media only screen and (min-width: 768px) {
  .info {
    font-size: 16px;
    line-height: 1.5;
  }
}

.infoTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--main-color);
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .infoTitle {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .list {
    flex-direction: row;
  }
}

.listItem:not(:last-child) {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .listItem:not(:last-child) {
    margin-right: 28px;
    margin-bottom: 0px;
  }
}

.listItemText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.listItemNorma {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--accent-color);
}

.calculation {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  max-width: 303px;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .calculation {
    max-width: 568px;
  }
}
@media only screen and (min-width: 1440px) {
  .calculation {
    max-width: 400px;
  }
}

.dailyNorma {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

@media only screen and (min-width: 768px) {
  .dailyNorma {
    flex-direction: row;
    align-items: center;
  }
}

.dailyNormaValue {
  margin-left: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.49333;
  color: var(--accent-color);
}

.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

input[type='radio'] + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 4px;
  display: none;
}

@media only screen and (min-width: 768px) {
  input[type='radio'] + label:after {
    top: 7px;
  }
}

input[type='radio']:checked + label:after {
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: var(--main-text-color);
  fill: var(--background-color-modal);
  margin-right: 8px;
  transition-property: stroke;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.uploadText:hover .icon,
.uploadText:focus .icon {
  stroke: var(--accent-color);
}
.calcIcon {
  font-size: 14px;
  color: var(--accent-color);
  margin-right: 5px;
}
.iconInfo {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  .iconInfo {
    width: 22px;
    height: 22px;
  }
}

.submitBtn {
  border: none;
  border-radius: 30px;
  padding: 16px 50px;
  width: 141px;
  height: 56px;
  background-color: var(--accent-color);
}

.submitBtn:focus {
  outline: 1px solid #93d193;
}

.error {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: red;
  max-width: 303px;
}

@media only screen and (min-width: 768px) {
  .error {
    max-width: 568px;
  }
}
@media only screen and (min-width: 1440px) {
  .error {
    max-width: 400px;
  }
}

.avatarError {
  position: absolute;
  top: 110px;
  left: 105px;
}

@media only screen and (min-width: 768px) {
  .avatarError {
    max-width: 568px;
    top: 135px;
    left: 240px;
  }
}
@media only screen and (min-width: 1440px) {
  .avatarError {
    left: 376px;
  }
}

.nameError,
.emailError {
  position: absolute;
  top: 85px;
  left: 15px;
}

.weightError,
.activeTimeError {
  position: absolute;
  top: 75px;
  left: 15px;
}

.goalError {
  position: absolute;
  top: 105px;
  left: 15px;
}

@media only screen and (min-width: 768px) {
  .nameError,
  .emailError,
  .goalError {
    top: 88px;
  }
}
.themeSwitcherBox {
  display: flex;
  width: 254px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.settingsTheme {
  display: block;
  margin-left: 8px;
  font-family: Poppins-Bold;
  font-size: 15px;
  color: var(--main-text-color);
  opacity: 40%;
}
