@media only screen and (min-width: 768px) {
  .userPanelContainer {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.01em;
  color: var(--main-color);
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 0;
  }
}

.name {
  font-weight: 700;
}
