.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 403px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.formElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .formElements {
    justify-content: space-between;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsItem:not(:last-child) {
  margin-bottom: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  max-width: 303px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .formGroup {
    max-width: 568px;
  }
}
@media only screen and (min-width: 1440px) {
  .formGroup {
    max-width: 840px;
  }
}

.label {
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
  width: 130px;
}

@media only screen and (min-width: 768px) {
  .input {
    width: 230px;
  }
}

.input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
}

.weightInput,
.heightInput {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .heightError,
  .weightError {
    top: 88px;
  }
}

.text {
  max-width: 303px;
  font-family: var(--font-regular);
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .text {
    max-width: 568px;
  }
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  width: 100px;
  height: 40px;
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-family: var(--font-bold);
  font-size: 14px;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.btn:hover,
.btn:focus {
  color: var(--main-white);
}

.btn:not(:last-child) {
  margin-bottom: 12px;
}

.resetIcon {
  width: 24px;
  height: 24px;
}

.thumb {
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 400px;
}

.image {
  width: 100%;
  height: auto;
}

.result {
  position: relative;
}

.value {
  position: absolute;
  top: 95px;
  left: 110px;
  font-family: var(--font-bold);
  font-size: 30px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
}

@media only screen and (min-width: 768px) {
  .value {
    top: 138px;
    left: 160px;
    font-size: 40px;
  }
}

.blueText {
  color: rgb(45, 117, 210);
}

.greenText {
  color: rgb(109, 201, 109);
}

.redText {
  color: rgb(215, 77, 77);
}

.error {
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: red;
  max-width: 303px;
  margin-top: 10px;
}

.errorData {
  position: absolute;
  top: 90%;
}

.heightError,
.weightError {
  position: absolute;
  top: 65px;
  left: 10px;
}

.indexMessage {
  font-size: 20px;
  font-family: var(--font-bold);
  text-align: center;
}
