.waterList {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: scroll;
  overflow-y: hidden;
}

.waterList::-webkit-scrollbar {
  height: 8px;
  background-color: #ffffff;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #323f47;
  border-radius: 9px;
  max-width: 150px;
}

@media only screen and (min-width: 768px) {
  .waterList {
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .waterList {
    gap: 16px;
  }
}

.waterItem {
  padding: 18px 14px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .waterItem {
    padding: 20px;
  }
}
