.div {
  margin: 18px;
  font-family: 'Poppins-Bold';
  max-width: 375px;
  background-color: var(--background-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 174px;
  padding: 0 16px;
  padding-top: 24px;
  padding-bottom: 100%;
}
