.div {
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: 'Poppins-Bold';
  max-width: 344px;
  background-color: var(--background-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 174px;
  padding: 24px 16px 218px;
}

@media screen and (min-width: 768px) {
  .div {
    margin-top: 34px;
    margin-bottom: 34px;
    max-width: 704px;
    padding: 34px 34px 284px;
    gap: 226px;
  }
}

@media screen and (min-width: 1440px) {
  .div {
    margin: 32px;
    max-width: 672px;
    padding: 32px 32px 170px;
    gap: 114px;
  }
}
