.wrapper {
  padding: 20px;
  max-height: 80vh;
  overflow: auto;
  scrollbar-color: var(--accent-color) transparent;
  scrollbar-width: thin;
}

.title {
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--main-color);
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 1.14286;
  }
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .closeBtn {
    top: 40px;
    right: 40px;
  }
}

.closeBtn svg {
  width: 24px;
  height: 24px;
  stroke: var(--main-text-color);
  transition: stroke 0.3s ease;
}
.closeBtn:hover svg,
.closeBtn:focus svg {
  stroke: var(--accent-color);
}
