.section {
  width: 343px;
  margin: 0 auto;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .section {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    width: 672px;
    margin-bottom: 0;
    padding: 0;
  }
}

.container {
  background-color: var(--background-color);
  border-radius: 30px;
  padding: 24px 16px 68px;
  height: 412px;
  box-shadow: var(--box-shadow);
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 32px 32px 50px;
    height: 498px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding-bottom: 188px;
    width: 672px;
    height: 736px;
  }
}

.hero {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .hero {
    margin: 50px 60px 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    margin: 132px 32px 0;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins-Regular';
  letter-spacing: 0.06em;
  line-height: 1.28;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .subtitle {
    font-size: 16px;
    line-height: 1.48;
  }
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--main-color);
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 64px;
    line-height: 1.094;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 80px;
    line-height: 0.948;
  }
}

.link {
  font-family: 'Poppins-Bold';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 16px;
    line-height: 1.48;
  }
}

.try {
  border-radius: 30px;
  padding: 14px 18px;

  background-color: var(--accent-color);
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.try:hover {
  background-color: var(--hover-focus-color);
}

@media only screen and (min-width: 768px) {
  .try {
    font-size: 16px;
    padding: 18px 40px;
    margin-right: 16px;
  }
}

.sign {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 30px;
  padding: 14px 28px;
  transform: scale(1);
  transition: border 0.3s ease, color 0.3s ease;
}

.sign:hover {
  border: 1px solid var(--hover-focus-color);
  color: var(--hover-focus-color);
}

@media only screen and (min-width: 768px) {
  .sign {
    font-size: 16px;
    padding: 18px 40px;
  }
}
