@media screen and (max-width: 767.9px) and (min-width: 320px) {
  .MainInfo {
    min-width: 320px;
    max-width: 374px;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .MainInfo {
    width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .MainInfo {
    width: 736px;
    margin: 0;
  }
}

.WaterMainInfo {
  background-image: url(../../image/transparent_bottle_for_water_mob@1x.png);
  background-color: var(--accent-color);
  height: 414px;
  border-radius: 30px;
  background-size: 262px 336px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 16px 32px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .WaterMainInfo {
    background-image: url(../../image/transparent_bottle_for_water_mob@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .WaterMainInfo {
    height: 578px;
    background-size: 374px 477px;
    background-image: url(../../image/transparent_bottle_for_water_tab@1x.png);
    padding: 32px;
  }
  @media only screen and (min-resolution: 192dpi),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
    .WaterMainInfo {
      background-image: url(../../image/transparent_bottle_for_water_tab@2x.png);
    }
  }
}

@media only screen and (min-width: 1440px) {
  .WaterMainInfo {
    background-image: url(../../image/transparent_bottle_for_water_desk@1x.png);
    height: 736px;
    background-size: 472px 604px;
  }
  @media only screen and (min-resolution: 192dpi),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
    .WaterMainInfo {
      background-image: url(../../image/transparent_bottle_for_water_desk@2x.png);
    }
  }
}
