.pagination {
  display: flex;
  width: 162px;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: Poppins-Bold;
}
.date {
  font-family: Poppins-Bold;
  letter-spacing: -0.01em;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .date {
    font-size: 20px;
  }
}
