.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 375px) {
  .pagination {
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .pagination {
    gap: 20px;
  }
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: Poppins-Bold;
  transition: transform 0.3s ease;
  color: var(--main-color);
}
.button:hover {
  transform: scale(1.6);
}
.date {
  font-family: Poppins-Bold;
  letter-spacing: -0.01em;
  font-size: 14px;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .date {
    font-size: 20px;
  }
}

.paginationDisabled {
  font-family: Poppins-Bold;
  cursor: not-allowed;
  background-color: transparent;
  border: none;
}
