.monthInfo {
  margin: 0 auto;

  width: 100%;

  background-color: var(--background-color, #f0eff4);
}
@media only screen and (min-width: 768px) {
  .monthInfo {
  }
}
@media (min-width: 1440px) {
  .monthInfo {
  }
}
.monthInfo__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.paginationIcon__wrapper {
  display: flex;
  gap: 16px;
  align-items: baseline;
}
@media only screen and (min-width: 768px) {
  .paginationIcon__wrapper {
    gap: 20px;
  }
}
.title {
  font-family: Poppins-Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: var(--main-color, #323f47);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}

.buttonIcon {
  border: none;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: rgb(50, 63, 71, 0.4);
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
.icon:hover {
  stroke: var(--main-color, #323f47);
  transform: scale(1.2);
}
