.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: var(--main-color);
  margin-bottom: 32px;
}

.button {
  margin-top: 16px;
  border-radius: 30px;
  padding: 16px 50px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  border: none;
  transition: all 250ms ease-in-out;
  background: var(--accent-color);
}

.button:is(:hover, :focus) {
  background-color: var(--hover-focus-color);
}

.input {
  font-family: 'Poppins-Regular';
  border: 1px solid rgba(47, 47, 47, 0.2);
  outline: none;
  border-radius: 15px;
  background-color: transparent;
  padding: 16px 40px 16px 16px;
  width: 100%;
  transition: all 250ms ease-in-out;
  margin-bottom: 16px;
}

.input::placeholder {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.input:is(:hover, :focus) {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--error-color);
}

.text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  display: flex;
  justify-content: center;
  gap: 4px;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-text-color);
  transition: color 250ms ease-in-out;
}

.link:hover {
  color: rgba(50, 63, 71, 0.4);
}
