.form {
  display: flex;
  flex-direction: column;
  width: 311px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #323f47;
  margin-bottom: 32px;
}

.button {
  margin-top: 16px;
  border-radius: 30px;
  padding: 16px 129px;
  width: 311px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  border: none;
  background: #9be1a0;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 80px 16px 16px;
  width: 311px;
  margin-bottom: 16px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #ef5050;
}
