.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: var(--main-color);
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.button {
  margin-top: 10px;
  border-radius: 30px;
  padding: 16px 50px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  border: none;
  transition: all 250ms ease-in-out;
  background: var(--accent-color);
}

.button:is(:hover, :focus) {
  background-color: var(--hover-focus-color);
}

.input {
  font-family: var(--font-regular);
  border: 1px solid var(--text-color-transparent);
  outline: none;
  border-radius: 15px;
  background-color: transparent;
  padding: 16px 40px 16px 16px;
  width: 100%;
  transition: all 250ms ease-in-out;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  position: relative;
}

.input::placeholder {
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--text-color-transparent);
}

.input:-webkit-autofill {
  box-shadow: inset 0 0 0 32px var(--background-color) !important;
  -webkit-text-fill-color: var(--main-text-color) !important;
}
.input:is(:hover, :focus, :active),
textarea:is(:hover, :focus, :active) {
  border: 1px solid var(--accent-color);
  background-color: transparent !important;
}

.errorInput {
  border-color: var(--error-color);
  color: var(--error-color);
}

.errorInput::placeholder {
  color: var(--error-color);
}

.errorInput:is(:hover, :focus) {
  border-color: var(--error-color);
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.error {
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--error-color);
  position: absolute;
  top: 75%;
  left: 0;
}

.errorContainer {
  position: relative;
}

.text {
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  gap: 4px;
}

.ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.link {
  font-family: var(--font-bold);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-text-color);
  transition: color 250ms ease-in-out;
}

.link:hover {
  color: var(--hover-focus-color);
}

.eyeIcon {
  stroke: var(--icon-color);
  stroke-width: 1.8px;
  fill: transparent;
  transition: stroke 250ms ease-in-out;
}
.eyeIcon:hover {
  stroke: var(--hover-focus-color);
}

.eyeBtn {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  height: 36px;
  width: 50px;
  position: absolute;
  top: 12px;
  left: 85%;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 1.05556;
  }

  .button {
    font-size: 16px;
    line-height: 1.5;
    padding: 18px 50px;
    width: 436px;
  }

  .input {
    width: 436px;
    padding: 16px 60px 16px 16px;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .label {
    font-size: 16px;
    line-height: 1.5;
  }

  .error {
    font-size: 16px;
    line-height: 1.5;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .divWrap {
    margin: 0 auto;
  }

  .eyeBtn {
    left: 384px;
  }
}
