:root {
  --main-color: #323f47;
  --main-text-color: #2f2f2f;
  --accent-color: #9be1a0;
  --background-color: #f0eff4;
  --main-white: #ffffff;
  --hover-focus-color: #87d28d;
  --error-color: #ef5050;
}

@import './reset.css';

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./fonts/Poppins-Bold.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.WaterProgressBar_ProgressBar__aFD4V .css-g4w146-ProgressBar {
  height: 8px;
  overflow: visible;
}

.css-g4w146-ProgressBar .css-1j452st-ProgressBar {
  background: var(--accent-color);
  height: 8px;
}

.css-g4w146-ProgressBar .css-1j452st-ProgressBar::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -5px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  transform: translateY(-50%);
}
