:root {
  --main-color: #323f47;
  --main-text-color: #2f2f2f;
  --accent-color: #9be1a0;
  --background-color: #f0eff4;
  --main-white: #ffffff;
  --hover-focus-color: #87d28d;
  --error-color: #ef5050;

  --background-color-theme: #ffffff;
  --main-color-theme: #000000; /* додано */
  --main-text-color-theme: #323f47; /* додано */
  --accent-color-theme: #009688; /* додано */
  --background-color-day: #323f4733;
}

[data-theme='dark'] {
  --main-color: #f0eff4;
  --main-text-color: #ffffffcc;
  --accent-color: #87d28d;
  --background-color: #282828;
  --main-white: #2f2f2f;
  --hover-focus-color: #9be1a0;
  --error-color: #ef5050;

  --background-color-theme: #282828;
  --main-color-theme: #ffffff; /* додано */
  --main-text-color-theme: #ffffff; /* додано */
  --accent-color-theme: #00ff00; /* додано */
  --background-color-day: #78ff74;
}

body {
  background-color: var(--background-color-theme);
  color: var(--main-text-color-theme);
}

@import './reset.css';

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./fonts/Poppins-Bold.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
