.TrackerPage {
  padding: 16px;
}

@media only screen and (min-width: 768px) {
  .TrackerPage {
    padding: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .TrackerPage {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}
