/* CalendarItem.module.css */
.day {
  position: relative;
  min-width: 28px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .day {
    min-width: 50px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.currentDay {
  color: var(--accent-color, #9be1a0);
}

.waterLevel {
  position: absolute;
}

.dayNumber {
  position: absolute;
  font-family: Poppins-Bold;
  font-size: 14px;
  width: 28px;
  height: 28px;
  background-color: #323f4733;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  transition: transform 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .dayNumber {
    width: 38px;
    height: 38px;
  }
}

.dayNumber.selected {
  border: 2px solid var(--accent-color, #9be1a0);
}

.dayNumber.fullWater {
  background-color: white;
}

/* Додано стилі для збільшення кнопки та бордера при наведенні */
.dayNumber:hover,
.dayNumber:focus,
.dayNumber:active {
  color: var(--accent-color, #9be1a0);
  background-color: var(--main-color, #323f47);
  border: 2px solid var(--accent-color, #9be1a0);
  transform: scale(1.1);
}

.waterPercentage {
  font-family: Poppins-Bold;
  color: #2f2f2f99;

  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* transition: transform 0.3s ease; */
  /* transform-origin: center bottom; */
}

/* .waterPercentage:hover,
.waterPercentage:focus {
  transform: translateX(-50%) scale(1.4);
}
.day:hover .waterPercentage,
.day:focus .waterPercentage:focus {
  transform: translateX(-50%) scale(1.4);
} */
