/* CalendarItem.module.css */
.day {
  position: relative;
  min-width: 28px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;

  border: none;
}

@media only screen and (min-width: 768px) {
  .day {
    min-width: 50px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.currentDay {
  color: var(--accent-color);
  transform: scale(1.1);
}

.waterLevel {
  position: absolute;
}

.dayNumber {
  position: absolute;

  font-family: 'Poppins-Bold';

  font-size: 14px;
  width: 28px;
  height: 28px;
  background-color: var(--background-color-day);
  color: var(--color-text-day);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .dayNumber {
    width: 38px;
    height: 38px;
  }
}

.dayNumber.selected {
  border: 2px solid var(--accent-color-theme);
  animation: var(--animation-shadow);
}

.dayNumber.fullWater {
  background-color: var(--color-white);
}

.dayNumber:hover,
.dayNumber:focus,
.dayNumber.active {
  color: var(--accent-color);
  background-color: var(--background-color-day-hover);
  border: 2px solid var(--accent-color);
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}

.waterPercentage {
  font-family: var(--font-bold);
  color: var(--main-text-color);

  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* transition: transform 0.3s ease; */
  /* transform-origin: center bottom; */
}

/* .waterPercentage:hover,
.waterPercentage:focus {
  transform: translateX(-50%) scale(1.4);
}
.day:hover .waterPercentage,
.day:focus .waterPercentage:focus {
  transform: translateX(-50%) scale(1.4);
} */
