.sectionAdvantages {
  padding: 16px;
}
.container {
  background-image: url(../../image/rectangle_mob@1x.jpg);
  height: 354px;
  width: 344px;
  border-radius: 30px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
  padding-right: 16px;
}

.contentContainer {
  padding-bottom: 32px;
}

.customers {
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
  width: 160px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 14px;
  align-content: center;
}

.img_group {
  margin-right: 4px;
}
.elements {
  font-family: 'Poppins-Regular';
  font-weight: 700;
  font-size: 12px;
}
.happy {
  display: block;
  color: var(--accent-color);
}

.staticElements {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding-left: 152px;
}
.list {
  font-family: 'Poppins-Regular';
  font-weight: 700;
  font-size: 8px;
  letter-spacing: -0.01em;
  margin-bottom: 4px;
  text-align: center;
  display: flex;
  gap: 4px;
}
.drive {
  background-color: var(--main-color);
  color: var(--main-white);
  width: 82px;
  padding: 9px 12px;
  display: flex;
  border-radius: 30px;
  gap: 4px;
}
.circle {
  gap: 4px;
}
.statistics {
  background-color: var(--accent-color);
  width: 82px;
  border-radius: 30px;
  padding: 9px 12px;
}
.setting {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: -0.01em;
  text-align: center;
  background-color: var(--main-white);
  border-radius: 30px;
  width: 108px;
  padding: 10px 12px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .container {
    background-image: url(../../image//rectangle_mob@2x.jpg);
  }
}

@media only screen and (max-width: 320px) {
  .staticElements {
    padding-left: 152px;
  }
}

@media only screen and (min-width: 768px) {
  .sectionAdvantages {
    max-width: 768px;
    padding: 0 16px 16px 16px;
  }

  .container {
    width: 704px;
    height: 446px;

    background-image: url(../../image/rectangle_tab@1x.jpg);
  }
  @media only screen and (min-resolution: 192dpi),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      background-image: url(../../image/rectangle_tab@2x.jpg);
    }
  }

  .customers {
    width: 238px;
    height: 67px;
  }

  .elements {
    font-size: 16px;
  }

  .happy {
    font-size: 16px;
  }

  .staticElements {
    padding: 0;
  }

  .list {
    font-size: 12px;
    margin-left: 430px;
  }

  .drive {
    padding: 12px 16px;
    width: 112px;
  }
  .statistics {
    padding: 12px 16px;
    width: 122px;
  }
  .setting {
    font-size: 12px;
    padding: 12px 16px;
    width: 158px;
    margin-left: 430px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    background-image: url(../../image/rectangle_desk@1x.jpg);
    height: 736px;
    padding: 0;
  }
  @media only screen and (min-resolution: 192dpi),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      background-image: url(../../image/rectangle_desk@2x.jpg);
    }
  }

  .sectionAdvantages {
    padding: 0;
  }

  .contentContainer {
    padding-bottom: 62px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
  }
  .staticElements {
    display: flex;
    align-items: baseline;
  }

  .list {
    margin-left: 398px;
    font-size: 12px;
  }
}
